@charset "UTF-8";

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/roboto-v30-latin-regular.eot');
  src: url('../webfonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/roboto-v30-latin-regular.woff2') format('woff2'),
       url('../webfonts/roboto-v30-latin-regular.woff') format('woff'),
       url('../webfonts/roboto-v30-latin-regular.ttf') format('truetype'),
       url('../webfonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
}


.displayNone{
  display: none !important;
}

.fl-right {
  float: right;
  margin-left: 3px;
}

.width100 {
  width: 100%;
}

.width75 {
  width: 75%;
}

.width40 {
  width: 40%;
}

.tileset-container_selection, .grid-container_selection,  .object-container_selection {
  position: absolute;
  pointer-events:none;
}

.zoomIcon:before {
  content: "\f002";
  padding-right: 5px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}



.dark-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.75);
}

.dark-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}

.dark-scrollbar::-webkit-scrollbar-thumb, .dark-scrollbar::-webkit-scrollbar-corner {
  background-color: rgb(99, 99, 99);
}


* {
  position: relative;
  box-sizing: border-box;
}

h4 {
  padding: 8px 5px;
  margin: 0;
  letter-spacing: 0.09em;
}

html, body {
  font-family: Roboto, arial;
  background-color: #26252b;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.app {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 0;
}

.menu {
  margin-bottom: 5px;
  background-color: #18181c;
  padding: 8px 10px;
}

.surface {
  color: white;
  font-size: 9pt;
  padding: 5px 9px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.95);
  border: 1px solid #5a5667;
  border-bottom: 1px solid #535060;
  background: #373540;
  background: -moz-linear-gradient(top, #484551 0%, #423f4c 100%);
  background: -webkit-linear-gradient(top, #484551 0%, #423f4c 100%);
  background: linear-gradient(to bottom, #484551 0%, #423f4c 100%);
}
.surface[disabled=disabled] {
  background: rgba(185, 185, 185, 0.2);
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
  user-select: none;
  top: 0px;
}

.btn {
  user-select: none;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  background: #323035;
  cursor: pointer;
}
.btn:active {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background: #312F34;
  top: 1px;
}
.btn[disabled=disabled] {
  background: rgba(185, 185, 185, 0.2);
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
  user-select: none;
  top: 0px;
}
.btn .fa {
  margin-right: 5px;
}

.workspace {
  display: table;
  user-select: none;
  width: 100%;
  height: 100%;
}

.project {
  min-width: 251px;
  width: auto;
  display: table-cell;
  height: 100%;
}

.selector {
  width: auto;
  min-width: 230px;
  display: table-cell;
  height: 100%;
}

.scene {
  display: table-cell;
  min-width: 265px;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}



.editor-container {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.window-title-bar, .tile-tools, .project-tools, .editor-tools {
  display: inline-block;
  height: 32px;
}
.window-title-bar .btn, .tile-tools .btn, .project-tools .btn, .editor-tools .btn {
  height: auto;
  width: auto;
  text-align: center;
}
.window-title-bar .btn i, .window-title-bar .btn .fa, .tile-tools .btn i, .tile-tools .btn .fa, .project-tools .btn i, .project-tools .btn .fa, .editor-tools .btn i, .editor-tools .btn .fa {
  text-align: center;
  width: 100%;
}
.window-title-bar .btn.active, .tile-tools .btn.active, .project-tools .btn.active, .editor-tools .btn.active, .project .btn.active {
  background: #26252b;
  /*top: 1px;*/
  box-shadow: none;
}

.editor-border {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  background: rgb(0 0 0 / 70%);
  border: 1px solid #1b1b1b;
  box-shadow: none;
}

.editor-border {
  padding: 0;
  display: table-row;
  width: 100%;
  height: calc(100% - 32px);
}

.tab-header {
  user-select: none;
  cursor: default;
  font-size: 9pt;
  margin-top: 10px;
  display: block;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 5px 9px;
  border-radius: 2px 2px 0px 0px;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid #434146;
  background: #373540;
  background: -moz-linear-gradient(top, #373540 0%, #373540 100%);
  background: -webkit-linear-gradient(top, #373540 0%, #373540 100%);
  background: linear-gradient(to bottom, #373540 0%, #373540 100%);
}

.tile-list, .project-item-list {
  background-color: #26252b;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 100%;
}

.inspector {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.item-details {
  display: inline-block;
  height: 150px;
  width: 100%;
  order: 1;
}
.item-details .item-name, .mapSize {
  position: absolute;
  right: 0px;
  top: 5px;
  color: white;
  padding: 2px 5px;
  width: 180px;
  border: 1px solid #35323f;
  border-radius: 3px;
  background-color: #484551;
  -webkit-box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.56);
  box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.56);
}
.mapSize {
  width: 60px;
}

.childInlineBlock > *{
  display: inline-block;
  position: unset;
  margin-bottom: 12px;
  margin-right: 5px;
}

.item-details .item-name:focus, .mapSize:focus {
  outline: none;
  background-color: #3e3b47;
  border: 1px solid #2b2835;
}
.item-details .item-type-icon {
  top: 4px;
  font-size: 16pt;
}
.item-details .item-type-icon.fa-folder {
  font-size: 17pt;
  color: #f39c12;
}

.group-tools, .layer-tools {
  display: inline-block;
  top: 30px;
  height: calc(100% - 65px);
  width: 100%;
  order: 2;
}
.group-tools .brush-size, .layer-tools .brush-size, .block-size {
  margin-top: -30px;
  margin-bottom: 10px;
}

.tile-selector {
  display: block;
  width: 100%;
  height: calc(100% - 2px);
  top: 0px;
}

.tile-list {
  height: 100%;
  top: 33px;
  left: 0px;
  position: absolute;
  overflow-y: auto;
}

.block-size .tile-list {
  position: static;
}

.project-item-list {
  height: calc(100% - 32px);
}

.tab {
  height: calc(100% - 85px);
}

.newline {
  padding: 5px;
}

.input-header {
  font-family: arial;
  display: block;
  width: 100%;
  letter-spacing: 0.09em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.input-row {
  width: 100%;
  display: block;
}
.input-row input[type=text] {
  text-align: center;
  width: 42px;
  margin-left: 5px;
}

.window {
  position: fixed;
  display: none;
  top: 25%;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 349px;
}
.window .window-title-bar {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.window .window-title-bar h4 {
  display: inline-block;
  padding-top: 6px;
  font-family: arial;
  font-size: 10pt;
}
.window .window-title-bar .btn {
  float: right;
  display: inline-block;
}
.window .window-body {
  font-family: arial;
  padding: 5px;
  min-height: 252px;
}
.window .window-actions {
  width: 100%;
  position: absolute;
  left: 0px;
  height: 48px;
  background-color: #26252b;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-top: 10px;
}
.window .window-actions .btn {
  float: right;
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 18px;
  padding-right: 0px;
}

.project-item-tree, .project-map-tree {
  padding-left: 10px;
  user-select: none;
}
.project-item-tree li, .project-map-tree li {
  width: 100%;
  font-size: 10pt;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 0px;
  cursor: default;
}
.project-item-tree li .selected, .project-map-tree li .selected {
  background-color: rgba(52, 152, 219, 0.5);
}
.project-item-tree li .item-visibility {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 6px;
  width: 16px;
  height: 16px;
}
.project-item-tree li .item-visibility.visible:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
}
.project-item-tree li .item-visibility.not-visible:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
}
.project-item-tree li .item-name, .project-map-tree li .item-name {
  padding: 4px 5px;
  margin-right: 10px;
}
.project-item-tree li .item-name:before, .project-map-tree li .item-name:before {
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
}
.project-item-tree li .name-editor {
  max-width: 150px;
  margin-right: 25px;
}
.project-item-tree li div.layer:before {
  content: "";
  padding-left: 10px;
}
.project-map-tree li div.map:before {
  content: "";
}

.project-item-tree li div.map:before {
  content: "\f07c";
}

input[type=text] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /*border-bottom: 2px solid white;*/
  background-color: transparent;
  color: white;
}
input[type=text]:active, input[type=text]:focus {
  outline: none;
}

.window-tint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

#input-map-data {
  width: 100%;
  height: 108px;
}

.toasty {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 150px;
}

#load-tilesets-window {
  height: 120px;
}
#load-tilesets-window .progress-bar {
  width: 370px;
  height: 20px;
  position: relative;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}
#load-tilesets-window .progress-bar .progress-bar-value {
  width: 0px;
  height: 18px;
  top: 1px;
  left: 0px;
  background-color: white;
}

.selectable-tile {
  padding: 5px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.selectable-tile.iso {
  height: 45px;
  width: 62px;
}
.selectable-tile.iso:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.selectable-tile.top:hover {
  border: 2px solid rgba(0, 255, 0, 0.35);
}
.selectable-tile.selected {
  border: 2px solid red;
}








